# Python3.13 expected
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
websockets>=12.0
boto3>=1.34.0
aws_sdk_bedrock_runtime==0.0.2
aws-sdk-signers==0.0.3
smithy-core==0.0.2
smithy-http==0.0.1
smithy-aws-core==0.0.3
smithy-aws-event-stream==0.0.1
smithy-json==0.0.1
requests>=2.31.0
numpy>=1.24.0
scipy>=1.11.0
g711>=1.0.0
